<div class="ui container">
  <h2 class="ui center aligned icon header">
    <i class="circular users icon"></i>
    Danh sách trường học
  </h2>
  <table class="ui compact celled definition table">
    <thead>
      <tr>
        <th></th>
        <th>#</th>
        <th>Tên trường</th>
        <th>Địa chỉ</th>
        <th>Ngày cập nhật</th>
      </tr>
    </thead>
    <tbody>
      <% schools.forEach( function(ele, index) { %> 
        <tr>
          <td class="collapsing">
            <a href="/school/delete/<%= ele.id %>"><i class="remove icon"></i></a>
          </td>
          <td><%= ++index %></td>
          <td><%= ele.name %></td>
          <td><%= ele.address %></td>
          <td><%= ele.updatedAt %></td>
        </tr>
      <% }); %>
    </tbody>
    <tfoot class="full-width">
      <tr>
        <th></th>
        <th colspan="4">
          <a href="/school/add" class="ui right floated small primary labeled icon button">
            <i class="add icon"></i> Thêm trường
          </a>
        </th>
      </tr>
    </tfoot>
  </table>
</div>
